.about {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/paper.jpg);
    background-size: 100% 100%;
    transform: scale(0);
    transition: all 0.5s;
    padding-bottom: 5rem;
    transform-origin: 50% 25%;

    &.aboutOpened {
        transform: scale(1);
        z-index: 2;
    }

    .aboutHeader {
        text-align: center;
        text-transform: uppercase;
        margin-top: 2rem;

        h2 {
            border-bottom: 3px solid black;
            border-top: 3px solid black;
            font-size: 3.5vmax;
            margin: 0 auto 1rem;

            @include mq1280 {
                font-size: 4vmax;
            }

            @include mq900 {
                font-size: 4.5vmax;
            }

            @include mq790 {
                font-size: 4.2rem;
            }

            @include mq500 {
                font-size: 3.8rem;
            }

            @include mq414 {
                font-size: 3.3rem;
            }

            @include mq375 {
                font-size: 3rem;
            }
        }

        p {
            font-size: 1.5vmax;
            margin: 0 0 1rem;

            @include mq1280 {
                font-size: 1.8vmax;
            }

            @include mq900 {
                font-size: 2.1vmax;
            }

            @include mq790 {
                font-size: 1.8rem;
            }
        }
    }

    .aboutMain {
        display: flex;
        flex-direction: column;
        border: 3px solid black;
        padding: 0 2rem 2rem;
        position: relative;

        @include mq1280 {
            padding: 0 2rem 2rem;
        }

        h3 {
            font-size: 5.7vmax;
            text-align: center;
            margin: 0 auto;
            text-transform: uppercase;

            @include mq1280 {
                font-size: 6.8vmax;
            }

            @include mq790 {
                font-size: 6.1rem;
            }

            @include mq414 {
                font-size: 5.5rem;
            }

            @include mq375 {
                font-size: 5rem;
            }
        }

        .aboutContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            .me {
                height: 20vmax;
                width: 26vmax;
                transition: all 1s;
                position: relative;
                transform-origin: 100% 100%;
                transform: perspective(1000px) rotateX(-90deg);
                -webkit-transform: perspective(1000px) rotateY(-90deg);
                -moz-transform: perspective(1000px) rotateY(-90deg);
    
                &.imageShown {
                    transform: rotateX(0);
                    -webkit-transform: rotateY(0);
                    -moz-transform: rotateY(0);
                }

                @include mq1280 {
                    width: 30vmax;
                    height: 25.5vmax;
                }

                @include mq790 {
                    height: 27rem;
                    width: 28rem;
                }

                @include mq414 {
                    width: 26rem;
                    height: 25rem;
                }
            }

            .description {
                font-size: 2rem;
                line-height: 2.8rem;
                width: 80%;
                margin: 2rem 0 5rem;

                p:first-child {
                    text-align: center;
                }

                p {
                    margin: 1rem 0;
                }

                @include mq1280 {
                    width: 100%;
                }

                @include mq790 {
                    margin: 0 0 4rem;
                }

                .emphasis {
                    color: blue;
                }

                .resumeContactButton {
                    display: flex;
                    justify-content: space-evenly;
                    margin: 5rem auto 0;

                    @include mq790 {
                        justify-content: space-around;
                    }

                    @include mq500 {
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        margin: 3rem auto 0;

                        a:nth-of-type(2) {
                            margin-top: 4rem;
                        }
                    }

                    a {
                        text-transform: uppercase;
                        text-align: center;
                        width: 18rem;
                        line-height: 5rem;
                        text-decoration: none;
                        color: black;
                        border: none;
                        box-shadow: 0 0 0.7rem 0.4rem black;
                        background: none;

                        @include mq900 {
                            width: 16rem;
                        }

                        @include mq500 {
                            width: 70%;
                            line-height: 5.5rem;
                        }

                        @include mq414 {
                            width: 85%;
                        }

                        @include mq375 {
                            width: 100%;
                        }
                    }
                }
            }

            .skillList {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 75%;

                @include mq1280 {
                    width: 95%;
                }

                @include mq790 {
                    width: 100%;
                }

                li {
                    width: 25%;
                    font-size: 7rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 3rem;

                    @include mq790 {
                        width: 33%;
                        font-zie: 5rem;
                    }

                    @include mq500 {
                        width: 50%;
                    }

                    span {
                        font-size: 2rem;
                        margin-top: 1rem;

                        @include mq790 {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}