.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100vh;
    background: rgb(252, 232, 173);
    background-size: 100% 100%;
    transform: scale(0);
    transform-origin: 18% 36%;
    transition: all 0.5s;

    &.aboutOpened {
        transform: scale(1);
    }

    .me {
        height: 26rem;
        width: 40rem;
        margin: 6rem auto;
        transition: all 1s;
        position: relative;
        top: -100%;
        opacity: 0;

        @include mq1088 {
            width: 32rem;
            height: 20rem;
            margin: 2.5rem auto;
        }

        @include mq790 {
            width: 27rem;
            height: 18rem;
        }

        @include mq590 {
            width: 23rem;
            height: 15rem;
        }

        @include mq470 {
            margin: 1rem auto;
        }

        @include mq414height {
            width: 20rem;
            height: 10rem;
        }
        
        img {
            border-radius: 1rem;
        }

        &.imageShown {
            top: 0;
            opacity: 1;
        }
    }

    .aboutContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40%;

        @include mq1088 {
            flex-direction: column;
            justify-content: space-evenly;
            height: 70%;
            margin-bottom: 2%;
        }

        @include mq590 {
            height: 80%;
            margin-bottom: 3.5%;
        }

        &.aboutContainerShown .skillList,
        &.aboutContainerShown .description {
            transform: rotateX(0);
        }

        .skillList {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 45%;
            height: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            border-radius: 1rem;
            background: linear-gradient(to right, #0072ff, #00c6ff); 
            transition: all 1s;
            transform-origin: 100% 100%;
            transform: perspective(1000px) rotateX(90deg);
            -webkit-transform: perspective(1000px) rotateX(90deg);
            -moz-transform: perspective(1000px) rotateX(90deg);

            @include mq1088 {
                order: 1;
                width: 80%;
                height: 45%;
            }

            @include mq790 {
                width: 90%;
            }

            @include mq590 {
                margin-bottom: 3%;
            }

            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                color: white;
                width: 20%;
                transition: all 1s;

                img {
                    width: 6vmax;
                    height: 6vmax;
                    margin-bottom: 1vmax;
                }

                span {
                    font-size:1.6rem;

                    @include mq1088 {
                        font-size: 1.6rem;
                    }

                    @include mq790 {
                        font-size: 1.4rem;
                    }

                    @include mq590 {
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .description {
            width: 40%;
            font-size: 1.6rem;
            text-align: center;
            line-height: 2.5rem;
            transition: all 1s;
            transform-origin: 100% 100%;
            transform: perspective(1000px) rotateX(90deg);
            -webkit-transform: perspective(1000px) rotateX(90deg);
            -moz-transform: perspective(1000px) rotateX(90deg);

            @include mq1088 {
                width: 80%;
                margin-bottom: 3%;
            }

            @include mq790 {
                width: 90%;
                line-height: 2.4rem;
                font-size: 1.45rem;

                p {
                    margin: 1rem 0;
                }
            }

            @include mq414height {
                font-size: 1.3rem;
                line-height: 2rem;
                margin: 0 0 2rem;
            }

            p:first-child {
                margin-top: 0;
            }

            span {
                color: blue;
            }

            &.descriptionShown {
                opacity: 1;
            }

            .resumeContactButton {
                display: flex;
                justify-content: space-around;

                span {
                    display: inline-block;
                    text-decoration: none;
                    background: linear-gradient(to right, #0072ff, #00c6ff);
                    border-radius: 1rem;
                    width: 18rem;
                    line-height: 4.5rem;
                    font-size: 2.4rem;
                    text-transform: uppercase;
                    color: white;
                    border: none;
                    padding: 0;
                    font-weight: 400;
                    cursor: pointer;
    
                    @include mq1088 {
                        font-size: 2rem;
                        line-height: 4rem;
                        width: 17rem;
                        margin-top: 1rem;
                    }

                    @include mq980 {
                        width: 15rem;
                    }
    
                    @include mq790 {
                        margin: 1.5rem 0 1rem;
                    }
    
                    @include mq590 {
                        font-size: 1.5rem;
                        width: 12rem;
                        line-height: 3.5rem;
                    }

                    @include mq414height {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}