.contact {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgb(252, 232, 173);

    .contactFlexContainer {
        display: flex;
        width: 0;
        height: 0;
        background: linear-gradient(to right, #0072ff, #00c6ff); 
        transition: all 1s;
        transform: perspective(500px) rotateY(110deg);

        &.contactShown {
            width: 90%;
            height: 70%;
            transform: rotateY(0);
        }

        .emailImage {
            width: 50%;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
    
            input {
                width: 85%;
                height: 4rem;
                font-size: 1.7rem;
                margin-bottom: 4rem;
                border-radius: 1rem;
            }
    
            textarea {
                width: 85%;
                height: 15rem;
                font-size: 1.7rem;
                padding-top: 1rem;
                margin-bottom: 4rem;
                border-radius: 1rem;
            }
    
            button {
                width: 15rem;
                height: 4.5rem;
                border-radius: 1rem;
                background: pink;
                border: none;
                font-size: 2rem;
                transition: all 0.4s;
                color: blue;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}