header {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/headerBackground.jpg);

    .treasureMap {
        background-image: url(../assets/treasureMap.jpeg);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        position: relative;

        @include mq500 {
            background-image: url(../assets/treasureMap2.jpeg);
        }

        .changmo {
            background-image: url(../assets/treasureMap.jpeg);
            background-size: 100% 100%;
            position: absolute;
            top: 0;
            left: calc(100% / 2 - 23.5vmax);
            width: 47vmax;
            height: 9vmax;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mq1280 {
                width: 55.3vmax;
                height: 12vmax;
                left: calc(100% / 2 - 27.65vmax);
            }

            @include mq900 {
                height: 15vmax;
            }

            @include mq500 {
                width: 100%;
                left: 0;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(104, 59, 22);
                color: white;
                margin: 0;
                width: 85.7%;
                height: 79.5%;
                text-align: center;

                h1 {
                    font-size: 5vmax;
                }
            }
        }

        .card,
        .project {
            background-image: url(../assets/treasureChest.png);
            background-size: 100% 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: 4vmax;
            height: 4vmax;
            cursor: pointer;

            div {
                background: url(../assets/treasureMap.jpeg);
                background-size: 100% 100%;
                width: 12vmax;
                height: 12vmax;
                padding: 1.15vmax 0.9vmax;
                position: absolute;
                top: -12.4vmax;

                .textContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 1.9vmax;
                    text-transform: uppercase;
                    color: white;
                    background: rgb(104, 59, 22);
                }
            }

        }

        .card div {
            height: 5vmax;
            padding: 0.575vmax 0.8vmax;
            top: -5.5vmax;
        }

        .aboutCard {
            top: 36%;
            left: 22%;
        }

        .contactCard {
            top: 60%;
            left: 31%;
        }

        .project1 {
            top: 44%;
            left: 48%;
        }

        .project2 {
            top: 45%;
            left: 75%;
        }

        .project3 {
            top: 73%;
            left: 61%;
        }
    }

    .welcomeDoor {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &.doorOpened .leftDoor {
            transform: rotateY(90deg);
        }

        &.doorOpened .rightDoor {
            transform: rotateY(-90deg);
        }

        &.doorHidden  .leftDoor{
            transform: rotateY(0);
            left: -100%;
            transition: left 0.8s;
        }

        &.doorHidden .rightDoor {
            transform: rotateY(0);
            right: -100%;
            transition: right 0.8s;
        }

        .leftDoor, 
        .rightDoor {
            position: absolute;
            height: 100%;
            width: 50%;
            transition: all 0.5s;
        }
        
        .leftDoor {
            left: 0;
            transform-origin: 0;
            transform: perspective(500px) rotateY(0);
        }

        .rightDoor {
            right: 0;
            transform-origin: 100%;
            transform: perspective(500px) rotateY(0);
        }
    }
}