nav {
    z-index: 999;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 3rem 0 0 3rem;
        font-size: 2.5rem;
        text-align: center;

        &.info li,
        &.projects li{
            position: relative;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 2rem;
            box-shadow: 7px 7px skyblue;
            margin-right: 3rem;
            background: blue;
            border-radius: 1rem;
            width: 13rem;
            line-height: 5rem;
            color: white;

            &:hover,
            &:focus {
                top: 3.5px;
                left: 3.5px;
                box-shadow: 3.5px 3.5px skyblue;
            }
        }
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0072ff, #00c6ff); 
    background-size: 100% 100%;

    .headerFlexContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 15rem;
            color: #fff;
            margin: 0;
        }

        .title {
            position: relative;
            
            p {
                position: absolute;
                left: 12%;
                font-size: 4.5rem;
                width: 22rem;
                text-align: center;
                color: white;
                margin: 0;
                opacity: 0;
                transition: all 0.5s;
                transform: translateY(-5rem);
                background: blue;
                border-radius: 1rem 0 1rem 1rem;

                &:before {
                    content: "";
                    transform: rotate(269deg);
                    border-color: blue;
                    border-radius: 50%;
                    border-style: solid;
                    border-width: 0 20px;
                    clip: rect(17px, 35px, 42px, 0px);
                    height: 43px;
                    position: absolute;
                    top: -84%;
                    right: -17%;
                    width: 85px;
                }

                &.visible {
                    opacity: 1;
                    transform: translateY(-2rem);
                }

                &.notVisible {
                    display: none;
                }
            }
        }
    }
}