header {
    height: 100vh;
    width: 100%;

    .treasureMap {
        background-image: url(../assets/treasureMap2.jpeg);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        position: relative;

        .card,
        .project {
            background-image: url(../assets/treasureChest.png);
            background-size: 100% 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: 7vmax;
            height: 5vmax;
            cursor: pointer;

            div {
                background: url(../assets/treasureMap.jpeg);
                background-size: 100% 100%;
                width: 12vmax;
                height: 12vmax;
                padding: 1.25vmax 0.9vmax;
                position: absolute;
                top: -12.8vmax;

                .textContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 1.9vmax;
                    text-transform: uppercase;
                    color: white;
                    background: rgb(104, 59, 22);
                }
            }
        }

        .aboutCard {
            top: 36%;
            left: 18%;
        }

        .contactCard {
            top: 65%;
            left: 34%;
        }

        .project1 {
            top: 36%;
            left: 52%;
        }

        .project2 {
            top: 38%;
            left: 78%;
        }

        .project3 {
            top: 77%;
            left: 72%;
        }
    }

    .welcomeDoor {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        &.doorOpened .leftDoor {
            transform: rotateY(90deg);
        }

        &.doorOpened .rightDoor {
            transform: rotateY(-90deg);
        }

        .leftDoor, 
        .rightDoor {
            position: absolute;
            height: 100%;
            width: 50%;
            transition: all 0.5s;
        }
        
        .leftDoor {
            left: 0;
            transform-origin: 0;
            transform: perspective(500px) rotateY(0);
        }

        .rightDoor {
            right: 0;
            transform-origin: 100%;
            transform: perspective(500px) rotateY(0);
        }
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.9vmax);
    }

    10% {
        transform: translateY(0);
    }
}