.firstProject,
.secondProject,
.thirdProject,
.fourthProject {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: white;

    &.selectedProject {
        z-index: 2;
    }

    @include mq1200 {
        flex-direction: column;
    }

    .projectVideo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 38vmax;
        width: 48vmax;
        border-radius: 1.5rem;
        transition: all 0.6s;
        background: black;
        transform: translateY(110vh);

        @include mq1200 {
            margin-top: 4vmax;
            transform: translateX(-110vh);
        }

        .videoContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 83%;

            .video {
                width: 100%;
                height: 92%;
            }
        }

        .frame {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 17%;
            background: rgb(96, 97, 102);
            border-radius: 0 0 1.5rem 1.5rem;

            .playButton {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 70%;
                background: none;
                box-shadow: inset 0px 0px 0.4vmax 0.2vmax #000;
                cursor: pointer;

                img {
                    width: 4.5vmax;
                    height: 3.4vmax;
                }
            }

            .appleLogo {
                width: 4.5vmax;
                height: 3.4vmax;
            }

            .githubLink {
                width: 25%;
                height: 70%;
                background: none;
                box-shadow: inset 0px 0px 0.4vmax 0.2vmax #000;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000;
                    text-decoration: none;

                    img {
                        width: 4.5vmax;
                        height: 3.4vmax;
                    }
                }
            }
        }

        &.selected {
            transform: translateY(0);

            @include mq1200 {
                transform: translateX(0);
            }
        }

        &.notSelected {
            transform: translateY(-100vh);

            @include mq1200 {
                transform: translateX(100vh);
            }
        }
    }


    .description {
        width: 35vmax;
        height: 42vmax;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all 0.6s;
        transform: translateY(-110vh);
        padding: 2vmax;
        

        &.selected {
            opacity: 1;
            transform: translateY(0);

            @include mq1200 {
                transform: translateX(0);
            }
        }

        &.notSelected {
            transform: translateY(100vh);
            opacity: 0;

            @include mq1200 {
                transform: translateX(-100vh);
            }
        }

        @include mq1200 {
            width: 65%;
            margin-bottom: 4vmax;
            transform: translateX(110vh);
        }

        @include mq790 {
            width: 80%;
        }

        h3 {
            font-size: 2.8vmax;
            margin: 0 0 1vmax 0;

            @include mq1200 {
                font-size: 5rem;
                margin: 3rem;
            }

            @include mq790 {
                font-size: 4.7rem;
                margin: 2.5rem;
            }

            @include mq435 {
                font-size: 3.7rem;
                margin: 1.5rem;
            }
        }

        .aboutProject {
            font-size: 1.18vmax;
            line-height: 1.9vmax;

            @include mq1200 {
                font-size: 2rem;
                line-height: 3rem;
                margin: 0;
            }

            @include mq790 {
                font-size: 1.8rem;
                text-align: center;
                line-height: 2.7rem;
            }

            @include mq435 {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }

        .skill {
            width: 100%;
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;
            margin: 0 0 3rem 0;

            li {
                width: 5vmax;
                height: 5vmax;
            }
        }

        .liveLink {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.55vmax;
            text-transform: uppercase;
            text-decoration: none;
            width: 11.5vmax;
            line-height: 3.1vmax;

            @include mq1200 {
                font-size: 2.4rem;
                width: 15rem;
                line-height: 4.8rem;
                margin-top: 1rem;
            }

            @include mq790 {
                font-size: 2.2rem;
                line-height: 4.6rem;
            }

            @include mq435 {
                font-size: 2rem;
                line-height: 4.4rem;
            }
        }

        .descriptionImages {
            display: flex;
            justify-content: space-between;
            width: 100%;

            div {
                width: 11vmax;
                height: 11vmax;
            }
        }
    }
}

.firstProject .description {
    background: rgb(250, 219, 217);
    color: blue;
    border: 5px solid blue;
    border-radius: 1rem;

    .liveLink {
        background: white;
        border-radius: 2rem;
        color: black;
        box-shadow: 5px 5px blue;
        position: relative;

        &:hover,
        &:focus {
            box-shadow: 2.5px 2.5px blue;
            top: 2.5px;
            left: 2.5px;
        }
    }
}