.firstProject,
.secondProject,
.thirdProject,
.fourthProject {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgb(252, 232, 173);

    &.selectedProject {
        z-index: 2;
    }

    @include mq980 {
        flex-direction: column;
    }

    @include mq435 {
        justify-content: flex-start;
    }

    .imageAndVideo {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all 0.6s;
        transform: translateY(100vh);

        &.selected {
            transform: translateY(0);

            @include mq980 {
                transform: translateX(0);
            }
        }

        &.notSelected {
            transform: translateY(-100vh);

            @include mq980 {
                transform: translateX(100vh);
            }
        }

        @include mq980 {
            width: 95%;
            height: calc(395.2px + (500 - 395.2) * ((100vw - 768px) / (980 - 768)));
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            transform: translateX(-100vh);
        }

        @include mq768 {
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
            height: 55%;
        }

        @include mq435 {
            height: 40%;
            margin: 2rem 0;
        }

        .projectImage,
        .projectVideo {
            max-width: 60rem;
            border: 4px solid blue;
            border-radius: 1rem;
            overflow: hidden;

            @include mq980 {
                width: 48.75%;
                height: 75%;
            }

            @include mq768 {
                width: 70%;
                height: 47.5%;
            }
        }
    }

    .description {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #26de81;
        transition: all 0.6s;
        opacity: 0;
        transform: translateY(-100vh);

        &.selected {
            opacity: 1;
            transform: translateY(0);

            @include mq980 {
                transform: translateX(0);
            }
        }

        &.notSelected {
            transform: translateY(100vh);
            opacity: 0;

            @include mq980 {
                transform: translateX(-100vh);
            }
        }

        @include mq980 {
            width: 90%;
            height: 50%;
            justify-content: flex-start;
            margin: 0 auto;
            transform: translateX(100vh);
        }

        @include mq768 {
            height: 40%;
        }

        h3 {
            font-size: 5.5rem;

            @include mq1304 {
                font-size: 5rem;
            }

            @include mq1088 {
                font-size: 4.5rem;
            }

            @include mq980 {
                font-size: 5rem;
                margin: 0 0 3rem 0;
            }

            @include mq768 {
                font-size: 4.5rem;
                margin: 0 0 2rem 0;
            }

            @include mq590 {
                font-size: 4rem;
            }

            @include mq435 {
                font-size: 3rem;
            }
        }

        .aboutProject {
            font-size: 2rem;
            line-height: 2.5rem;

            @include mq1304 {
                font-size: 1.8rem;
            }

            @include mq1088 {
                font-size: 1.7rem;
            }

            @include mq980 {
                margin: 0;
                font-size: 2rem;
            }

            @include mq768 {
                font-size: 1.7rem;
            }

            @include mq590 {
                font-size: 1.6rem;
            }

            @include mq435 {
                line-height: 2rem;
            }
        }

        .skill {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 5rem;
            list-style: none;
            padding: 0;

            @include mq980 {
                margin: 3rem 0;
            }

            @include mq590 {
                font-size: 4.2rem;
            }

            @include mq435 {
                margin: 1.5rem 0;
            }
        }

        .links  {
            width: 100%;
            display: flex;
            justify-content: space-evenly;  

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2.5rem;
                text-transform: uppercase;
                text-decoration: none;
                width: 14rem;
                height: 4.5rem;
                background: linear-gradient(to right, #0072ff, #00c6ff); 
                color: white;
                border-radius: 1rem;

                @include mq768 {
                    height: 4.1rem;
                    font-size: 2.1rem;
                }

                @include mq590 {
                    font-size: 2rem;
                    height: 4rem;
                }

                @include mq435 {
                    height: 3.5rem;
                    width: 12rem;
                    font-size: 1.8rem;
                }
            }
        }
    }
}