.mapOpener {
    position: fixed;
    top: -13vmax;
    right: 0;
    z-index: 3;
    width: 13vmax;
    height: 13vmax;
    transition: all 0.6s;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;

    &.openerShown {
        top: 0;
    }
}