.mapOpener {
    position: fixed;
    top: -10vmax;
    right: 0;
    z-index: 3;
    width: 10vmax;
    height: 10vmax;
    transition: all 0.6s;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;

    &.openerShown {
        transform: translateY(10vmax);
    }
}