html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
html .wrapper {
  width: 85%;
  margin: 0 auto;
}
html img,
html video {
  width: 100%;
  height: 100%;
}

.mapOpener {
  position: fixed;
  top: -13vmax;
  right: 0;
  z-index: 3;
  width: 13vmax;
  height: 13vmax;
  transition: all 0.6s;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
.mapOpener.openerShown {
  top: 0;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/headerBackground.jpg);
}
header .treasureMap {
  background-image: url(../assets/treasureMap.jpeg);
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
}
@media (max-width: 500px) {
  header .treasureMap {
    background-image: url(../assets/treasureMap2.jpeg);
  }
}
header .treasureMap .changmo {
  background-image: url(../assets/treasureMap.jpeg);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: calc(100% / 2 - 23.5vmax);
  width: 47vmax;
  height: 9vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  header .treasureMap .changmo {
    width: 55.3vmax;
    height: 12vmax;
    left: calc(100% / 2 - 27.65vmax);
  }
}
@media (max-width: 900px) {
  header .treasureMap .changmo {
    height: 15vmax;
  }
}
@media (max-width: 500px) {
  header .treasureMap .changmo {
    width: 100%;
    left: 0;
  }
}
header .treasureMap .changmo div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #683b16;
  color: white;
  margin: 0;
  width: 85.9%;
  height: 81%;
  text-align: center;
}
header .treasureMap .changmo div h1 {
  font-size: 5vmax;
}
header .treasureMap .card,
header .treasureMap .project {
  background-image: url(../assets/treasureChest.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 4vmax;
  height: 4vmax;
  cursor: pointer;
}
header .treasureMap .card div,
header .treasureMap .project div {
  background: url(../assets/treasureMap.jpeg);
  background-size: 100% 100%;
  width: 12vmax;
  height: 12vmax;
  padding: 1.15vmax 0.9vmax;
  position: absolute;
  top: -12.4vmax;
}
header .treasureMap .card div .textContainer,
header .treasureMap .project div .textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.9vmax;
  text-transform: uppercase;
  color: white;
  background: #683b16;
}
header .treasureMap .card div {
  height: 7vmax;
  padding: 0.65vmax 0.8vmax;
  top: -7.5vmax;
}
header .treasureMap .aboutCard {
  top: 36%;
  left: 22%;
}
header .treasureMap .contactCard {
  top: 60%;
  left: 25%;
}
header .treasureMap .project1 {
  top: 44%;
  left: 48%;
}
header .treasureMap .project2 {
  top: 45%;
  left: 75%;
}
header .treasureMap .project3 {
  top: 73%;
  left: 49%;
}
header .treasureMap .project4 {
  top: 75%;
  left: 75%;
}
header .welcomeDoor {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header .welcomeDoor.doorOpened .leftDoor {
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
}
header .welcomeDoor.doorOpened .rightDoor {
  transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
}
header .welcomeDoor.doorHidden .leftDoor {
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  left: -100%;
  transition: left 0.8s;
}
header .welcomeDoor.doorHidden .rightDoor {
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  right: -100%;
  transition: right 0.8s;
}
header .welcomeDoor .leftDoor,
header .welcomeDoor .rightDoor {
  position: absolute;
  height: 100%;
  width: 50%;
  transition: all 0.5s;
}
header .welcomeDoor .leftDoor {
  left: 0;
  transform-origin: 0;
  transform: perspective(1000px) rotateY(0);
  -webkit-transform: perspective(1000px) rotateY(0);
  -moz-transform: perspective(1000px) rotateY(0);
}
header .welcomeDoor .rightDoor {
  right: 0;
  transform-origin: 100%;
  transform: perspective(1000px) rotateY(0);
  -webkit-transform: perspective(1000px) rotateY(0);
  -moz-transform: perspective(1000px) rotateY(0);
}

.firstProject,
.secondProject,
.thirdProject,
.fourthProject {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: white;
  transform: scale(0);
  transition: all 0.5s;
  background-image: url(../assets/paper.jpg);
  background-size: 100% 100%;
  padding-bottom: 5rem;
}
.firstProject.selectedProject,
.secondProject.selectedProject,
.thirdProject.selectedProject,
.fourthProject.selectedProject {
  transform: scale(1);
  z-index: 2;
}
.firstProject .contentHeader,
.secondProject .contentHeader,
.thirdProject .contentHeader,
.fourthProject .contentHeader {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}
.firstProject .contentHeader h2,
.secondProject .contentHeader h2,
.thirdProject .contentHeader h2,
.fourthProject .contentHeader h2 {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  font-size: 3.5vmax;
  margin: 0 auto 1rem;
}
@media (max-width: 1280px) {
  .firstProject .contentHeader h2,
.secondProject .contentHeader h2,
.thirdProject .contentHeader h2,
.fourthProject .contentHeader h2 {
    font-size: 4vmax;
  }
}
@media (max-width: 900px) {
  .firstProject .contentHeader h2,
.secondProject .contentHeader h2,
.thirdProject .contentHeader h2,
.fourthProject .contentHeader h2 {
    font-size: 4.5vmax;
  }
}
@media (max-width: 790px) {
  .firstProject .contentHeader h2,
.secondProject .contentHeader h2,
.thirdProject .contentHeader h2,
.fourthProject .contentHeader h2 {
    font-size: 4.2rem;
  }
}
@media (max-width: 500px) {
  .firstProject .contentHeader h2,
.secondProject .contentHeader h2,
.thirdProject .contentHeader h2,
.fourthProject .contentHeader h2 {
    font-size: 3.7rem;
  }
}
.firstProject .contentHeader p,
.secondProject .contentHeader p,
.thirdProject .contentHeader p,
.fourthProject .contentHeader p {
  font-size: 1.5vmax;
  margin: 0 0 1rem;
}
@media (max-width: 1280px) {
  .firstProject .contentHeader p,
.secondProject .contentHeader p,
.thirdProject .contentHeader p,
.fourthProject .contentHeader p {
    font-size: 1.8vmax;
  }
}
@media (max-width: 900px) {
  .firstProject .contentHeader p,
.secondProject .contentHeader p,
.thirdProject .contentHeader p,
.fourthProject .contentHeader p {
    font-size: 2.1vmax;
  }
}
@media (max-width: 790px) {
  .firstProject .contentHeader p,
.secondProject .contentHeader p,
.thirdProject .contentHeader p,
.fourthProject .contentHeader p {
    font-size: 1.8rem;
  }
}
.firstProject .contentMain,
.secondProject .contentMain,
.thirdProject .contentMain,
.fourthProject .contentMain {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}
@media (max-width: 1280px) {
  .firstProject .contentMain,
.secondProject .contentMain,
.thirdProject .contentMain,
.fourthProject .contentMain {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 790px) {
  .firstProject .contentMain,
.secondProject .contentMain,
.thirdProject .contentMain,
.fourthProject .contentMain {
    padding: 0;
  }
}
.firstProject .contentMain h3,
.secondProject .contentMain h3,
.thirdProject .contentMain h3,
.fourthProject .contentMain h3 {
  font-size: 4.5vmax;
  text-align: center;
  margin: 0 auto 1rem;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .firstProject .contentMain h3,
.secondProject .contentMain h3,
.thirdProject .contentMain h3,
.fourthProject .contentMain h3 {
    margin: 1rem auto;
    font-size: 5.5vmax;
  }
}
@media (max-width: 900px) {
  .firstProject .contentMain h3,
.secondProject .contentMain h3,
.thirdProject .contentMain h3,
.fourthProject .contentMain h3 {
    font-size: 6vmax;
  }
}
@media (max-width: 790px) {
  .firstProject .contentMain h3,
.secondProject .contentMain h3,
.thirdProject .contentMain h3,
.fourthProject .contentMain h3 {
    font-size: 6.3rem;
  }
}
@media (max-width: 500px) {
  .firstProject .contentMain h3,
.secondProject .contentMain h3,
.thirdProject .contentMain h3,
.fourthProject .contentMain h3 {
    font-size: 5rem;
  }
}
@media (max-width: 375px) {
  .firstProject .contentMain h3,
.secondProject .contentMain h3,
.thirdProject .contentMain h3,
.fourthProject .contentMain h3 {
    font-size: 4.8rem;
  }
}
.firstProject .contentMain .videoDescription,
.secondProject .contentMain .videoDescription,
.thirdProject .contentMain .videoDescription,
.fourthProject .contentMain .videoDescription {
  display: flex;
  padding: 0 2rem 2rem;
}
@media (max-width: 1280px) {
  .firstProject .contentMain .videoDescription,
.secondProject .contentMain .videoDescription,
.thirdProject .contentMain .videoDescription,
.fourthProject .contentMain .videoDescription {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
.firstProject .contentMain .videoDescription .projectVideo,
.secondProject .contentMain .videoDescription .projectVideo,
.thirdProject .contentMain .videoDescription .projectVideo,
.fourthProject .contentMain .videoDescription .projectVideo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 31.4vmax;
  width: 50vmax;
}
@media (max-width: 1280px) {
  .firstProject .contentMain .videoDescription .projectVideo,
.secondProject .contentMain .videoDescription .projectVideo,
.thirdProject .contentMain .videoDescription .projectVideo,
.fourthProject .contentMain .videoDescription .projectVideo {
    width: 52vmax;
    margin-bottom: 2rem;
  }
}
@media (max-width: 790px) {
  .firstProject .contentMain .videoDescription .projectVideo,
.secondProject .contentMain .videoDescription .projectVideo,
.thirdProject .contentMain .videoDescription .projectVideo,
.fourthProject .contentMain .videoDescription .projectVideo {
    width: 100%;
    height: 24.7rem;
  }
}
@media (max-width: 500px) {
  .firstProject .contentMain .videoDescription .projectVideo,
.secondProject .contentMain .videoDescription .projectVideo,
.thirdProject .contentMain .videoDescription .projectVideo,
.fourthProject .contentMain .videoDescription .projectVideo {
    height: 20rem;
  }
}
@media (max-width: 375px) {
  .firstProject .contentMain .videoDescription .projectVideo,
.secondProject .contentMain .videoDescription .projectVideo,
.thirdProject .contentMain .videoDescription .projectVideo,
.fourthProject .contentMain .videoDescription .projectVideo {
    height: 17rem;
  }
}
.firstProject .contentMain .videoDescription .projectVideo .videoContainer,
.secondProject .contentMain .videoDescription .projectVideo .videoContainer,
.thirdProject .contentMain .videoDescription .projectVideo .videoContainer,
.fourthProject .contentMain .videoDescription .projectVideo .videoContainer {
  height: 100%;
  width: 100%;
}
.firstProject .contentMain .videoDescription .description,
.secondProject .contentMain .videoDescription .description,
.thirdProject .contentMain .videoDescription .description,
.fourthProject .contentMain .videoDescription .description {
  width: 31vmax;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .firstProject .contentMain .videoDescription .description,
.secondProject .contentMain .videoDescription .description,
.thirdProject .contentMain .videoDescription .description,
.fourthProject .contentMain .videoDescription .description {
    width: 65vmax;
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  .firstProject .contentMain .videoDescription .description,
.secondProject .contentMain .videoDescription .description,
.thirdProject .contentMain .videoDescription .description,
.fourthProject .contentMain .videoDescription .description {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .firstProject .contentMain .videoDescription .description,
.secondProject .contentMain .videoDescription .description,
.thirdProject .contentMain .videoDescription .description,
.fourthProject .contentMain .videoDescription .description {
    width: 100%;
  }
}
.firstProject .contentMain .videoDescription .description .aboutProject p,
.secondProject .contentMain .videoDescription .description .aboutProject p,
.thirdProject .contentMain .videoDescription .description .aboutProject p,
.fourthProject .contentMain .videoDescription .description .aboutProject p {
  font-size: 1.18vmax;
  line-height: 1.6vmax;
  margin: 0 0 2rem;
}
@media (max-width: 1280px) {
  .firstProject .contentMain .videoDescription .description .aboutProject p,
.secondProject .contentMain .videoDescription .description .aboutProject p,
.thirdProject .contentMain .videoDescription .description .aboutProject p,
.fourthProject .contentMain .videoDescription .description .aboutProject p {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}
.firstProject .contentMain .videoDescription .description .skill,
.secondProject .contentMain .videoDescription .description .skill,
.thirdProject .contentMain .videoDescription .description .skill,
.fourthProject .contentMain .videoDescription .description .skill {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 1rem 0 3rem;
  font-size: 4.2vmax;
}
@media (max-width: 1280px) {
  .firstProject .contentMain .videoDescription .description .skill,
.secondProject .contentMain .videoDescription .description .skill,
.thirdProject .contentMain .videoDescription .description .skill,
.fourthProject .contentMain .videoDescription .description .skill {
    font-size: 7rem;
  }
}
@media (max-width: 500px) {
  .firstProject .contentMain .videoDescription .description .skill,
.secondProject .contentMain .videoDescription .description .skill,
.thirdProject .contentMain .videoDescription .description .skill,
.fourthProject .contentMain .videoDescription .description .skill {
    font-size: 5rem;
  }
}
.firstProject .contentMain .videoDescription .description .skill li,
.secondProject .contentMain .videoDescription .description .skill li,
.thirdProject .contentMain .videoDescription .description .skill li,
.fourthProject .contentMain .videoDescription .description .skill li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstProject .contentMain .videoDescription .description .skill li span,
.secondProject .contentMain .videoDescription .description .skill li span,
.thirdProject .contentMain .videoDescription .description .skill li span,
.fourthProject .contentMain .videoDescription .description .skill li span {
  font-size: 1.3vmax;
  margin-top: 1rem;
}
@media (max-width: 1280px) {
  .firstProject .contentMain .videoDescription .description .skill li span,
.secondProject .contentMain .videoDescription .description .skill li span,
.thirdProject .contentMain .videoDescription .description .skill li span,
.fourthProject .contentMain .videoDescription .description .skill li span {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .firstProject .contentMain .videoDescription .description .skill li span,
.secondProject .contentMain .videoDescription .description .skill li span,
.thirdProject .contentMain .videoDescription .description .skill li span,
.fourthProject .contentMain .videoDescription .description .skill li span {
    font-size: 1.8rem;
  }
}
@media (max-width: 1280px) {
  .firstProject .contentMain .videoDescription .description .skill,
.secondProject .contentMain .videoDescription .description .skill,
.thirdProject .contentMain .videoDescription .description .skill,
.fourthProject .contentMain .videoDescription .description .skill {
    font-size: 7rem;
  }
}
@media (max-width: 790px) {
  .firstProject .contentMain .videoDescription .description .skill,
.secondProject .contentMain .videoDescription .description .skill,
.thirdProject .contentMain .videoDescription .description .skill,
.fourthProject .contentMain .videoDescription .description .skill {
    font-size: 6.5rem;
  }
}
@media (max-width: 500px) {
  .firstProject .contentMain .videoDescription .description .skill,
.secondProject .contentMain .videoDescription .description .skill,
.thirdProject .contentMain .videoDescription .description .skill,
.fourthProject .contentMain .videoDescription .description .skill {
    font-size: 6rem;
  }
}
@media (max-width: 375px) {
  .firstProject .contentMain .videoDescription .description .skill,
.secondProject .contentMain .videoDescription .description .skill,
.thirdProject .contentMain .videoDescription .description .skill,
.fourthProject .contentMain .videoDescription .description .skill {
    font-size: 5.5rem;
  }
}
.firstProject .contentMain .videoDescription .description .links,
.secondProject .contentMain .videoDescription .description .links,
.thirdProject .contentMain .videoDescription .description .links,
.fourthProject .contentMain .videoDescription .description .links {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .firstProject .contentMain .videoDescription .description .links,
.secondProject .contentMain .videoDescription .description .links,
.thirdProject .contentMain .videoDescription .description .links,
.fourthProject .contentMain .videoDescription .description .links {
    justify-content: space-between;
  }
}
.firstProject .contentMain .videoDescription .description .links button,
.secondProject .contentMain .videoDescription .description .links button,
.thirdProject .contentMain .videoDescription .description .links button,
.fourthProject .contentMain .videoDescription .description .links button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 11.5vmax;
  font-size: 1.55vmax;
  line-height: 3.1vmax;
  border: none;
  box-shadow: 0 0 0.7rem 0.4rem black;
  background: none;
}
@media (max-width: 1280px) {
  .firstProject .contentMain .videoDescription .description .links button,
.secondProject .contentMain .videoDescription .description .links button,
.thirdProject .contentMain .videoDescription .description .links button,
.fourthProject .contentMain .videoDescription .description .links button {
    font-size: 2.5rem;
    line-height: 5rem;
    width: 18rem;
  }
}
@media (max-width: 790px) {
  .firstProject .contentMain .videoDescription .description .links button,
.secondProject .contentMain .videoDescription .description .links button,
.thirdProject .contentMain .videoDescription .description .links button,
.fourthProject .contentMain .videoDescription .description .links button {
    width: 15rem;
    line-height: 4.5rem;
    font-size: 2.1rem;
  }
}
@media (max-width: 414px) {
  .firstProject .contentMain .videoDescription .description .links button,
.secondProject .contentMain .videoDescription .description .links button,
.thirdProject .contentMain .videoDescription .description .links button,
.fourthProject .contentMain .videoDescription .description .links button {
    width: 13rem;
    font-size: 2rem;
    line-height: 4rem;
  }
}
@media (max-width: 375px) {
  .firstProject .contentMain .videoDescription .description .links button,
.secondProject .contentMain .videoDescription .description .links button,
.thirdProject .contentMain .videoDescription .description .links button,
.fourthProject .contentMain .videoDescription .description .links button {
    width: 12rem;
  }
}
.firstProject .contentMain .videoDescription .description .links button a,
.secondProject .contentMain .videoDescription .description .links button a,
.thirdProject .contentMain .videoDescription .description .links button a,
.fourthProject .contentMain .videoDescription .description .links button a {
  text-decoration: none;
  width: 100%;
  color: black;
}

.about {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/paper.jpg);
  background-size: 100% 100%;
  transform: scale(0);
  transition: all 0.5s;
  padding-bottom: 5rem;
  transform-origin: 50% 25%;
}
.about.aboutOpened {
  transform: scale(1);
  z-index: 2;
}
.about .aboutHeader {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}
.about .aboutHeader h2 {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  font-size: 3.5vmax;
  margin: 0 auto 1rem;
}
@media (max-width: 1280px) {
  .about .aboutHeader h2 {
    font-size: 4vmax;
  }
}
@media (max-width: 900px) {
  .about .aboutHeader h2 {
    font-size: 4.5vmax;
  }
}
@media (max-width: 790px) {
  .about .aboutHeader h2 {
    font-size: 4.2rem;
  }
}
@media (max-width: 500px) {
  .about .aboutHeader h2 {
    font-size: 3.8rem;
  }
}
@media (max-width: 414px) {
  .about .aboutHeader h2 {
    font-size: 3.3rem;
  }
}
@media (max-width: 375px) {
  .about .aboutHeader h2 {
    font-size: 3rem;
  }
}
.about .aboutHeader p {
  font-size: 1.5vmax;
  margin: 0 0 1rem;
}
@media (max-width: 1280px) {
  .about .aboutHeader p {
    font-size: 1.8vmax;
  }
}
@media (max-width: 900px) {
  .about .aboutHeader p {
    font-size: 2.1vmax;
  }
}
@media (max-width: 790px) {
  .about .aboutHeader p {
    font-size: 1.8rem;
  }
}
.about .aboutMain {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 0 2rem 2rem;
  position: relative;
}
@media (max-width: 1280px) {
  .about .aboutMain {
    padding: 0 2rem 2rem;
  }
}
.about .aboutMain h3 {
  font-size: 5.7vmax;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .about .aboutMain h3 {
    font-size: 6.8vmax;
  }
}
@media (max-width: 790px) {
  .about .aboutMain h3 {
    font-size: 6.1rem;
  }
}
@media (max-width: 414px) {
  .about .aboutMain h3 {
    font-size: 5.5rem;
  }
}
@media (max-width: 375px) {
  .about .aboutMain h3 {
    font-size: 5rem;
  }
}
.about .aboutMain .aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .aboutMain .aboutContainer .me {
  height: 20vmax;
  width: 26vmax;
  transition: all 1s;
  position: relative;
  transform-origin: 100% 100%;
  transform: perspective(1000px) rotateX(-90deg);
  -webkit-transform: perspective(1000px) rotateY(-90deg);
  -moz-transform: perspective(1000px) rotateY(-90deg);
}
.about .aboutMain .aboutContainer .me.imageShown {
  transform: rotateX(0);
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
}
@media (max-width: 1280px) {
  .about .aboutMain .aboutContainer .me {
    width: 30vmax;
    height: 25.5vmax;
  }
}
@media (max-width: 790px) {
  .about .aboutMain .aboutContainer .me {
    height: 27rem;
    width: 28rem;
  }
}
@media (max-width: 414px) {
  .about .aboutMain .aboutContainer .me {
    width: 26rem;
    height: 25rem;
  }
}
.about .aboutMain .aboutContainer .description {
  font-size: 2rem;
  line-height: 2.8rem;
  width: 80%;
  margin: 2rem 0 5rem;
}
.about .aboutMain .aboutContainer .description p:first-child {
  text-align: center;
}
.about .aboutMain .aboutContainer .description p {
  margin: 1rem 0;
}
@media (max-width: 1280px) {
  .about .aboutMain .aboutContainer .description {
    width: 100%;
  }
}
@media (max-width: 790px) {
  .about .aboutMain .aboutContainer .description {
    margin: 0 0 4rem;
  }
}
.about .aboutMain .aboutContainer .description .emphasis {
  color: blue;
}
.about .aboutMain .aboutContainer .description .resumeContactButton {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto 0;
}
@media (max-width: 790px) {
  .about .aboutMain .aboutContainer .description .resumeContactButton {
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .about .aboutMain .aboutContainer .description .resumeContactButton {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto 0;
  }
  .about .aboutMain .aboutContainer .description .resumeContactButton a:nth-of-type(2) {
    margin-top: 4rem;
  }
}
.about .aboutMain .aboutContainer .description .resumeContactButton a {
  text-transform: uppercase;
  text-align: center;
  width: 18rem;
  line-height: 5rem;
  text-decoration: none;
  color: black;
  border: none;
  box-shadow: 0 0 0.7rem 0.4rem black;
  background: none;
}
@media (max-width: 900px) {
  .about .aboutMain .aboutContainer .description .resumeContactButton a {
    width: 16rem;
  }
}
@media (max-width: 500px) {
  .about .aboutMain .aboutContainer .description .resumeContactButton a {
    width: 70%;
    line-height: 5.5rem;
  }
}
@media (max-width: 414px) {
  .about .aboutMain .aboutContainer .description .resumeContactButton a {
    width: 85%;
  }
}
@media (max-width: 375px) {
  .about .aboutMain .aboutContainer .description .resumeContactButton a {
    width: 100%;
  }
}
.about .aboutMain .aboutContainer .skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 75%;
}
@media (max-width: 1280px) {
  .about .aboutMain .aboutContainer .skillList {
    width: 95%;
  }
}
@media (max-width: 790px) {
  .about .aboutMain .aboutContainer .skillList {
    width: 100%;
  }
}
.about .aboutMain .aboutContainer .skillList li {
  width: 25%;
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
@media (max-width: 790px) {
  .about .aboutMain .aboutContainer .skillList li {
    width: 33%;
    font-zie: 5rem;
  }
}
@media (max-width: 500px) {
  .about .aboutMain .aboutContainer .skillList li {
    width: 50%;
  }
}
.about .aboutMain .aboutContainer .skillList li span {
  font-size: 2rem;
  margin-top: 1rem;
}
@media (max-width: 790px) {
  .about .aboutMain .aboutContainer .skillList li span {
    font-size: 1.8rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/paper.jpg);
  background-size: 100% 100%;
  transform: scale(0);
  transition: all 0.5s;
  padding-bottom: 5rem;
}
.contact.contactOpened {
  transform: scale(1);
  z-index: 2;
}
.contact .contactHeader {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}
.contact .contactHeader h2 {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  font-size: 3.5vmax;
  margin: 0 auto 1rem;
}
@media (max-width: 1280px) {
  .contact .contactHeader h2 {
    font-size: 4vmax;
  }
}
@media (max-width: 900px) {
  .contact .contactHeader h2 {
    font-size: 4.5vmax;
  }
}
@media (max-width: 790px) {
  .contact .contactHeader h2 {
    font-size: 4.2rem;
  }
}
@media (max-width: 500px) {
  .contact .contactHeader h2 {
    font-size: 3.7rem;
  }
}
.contact .contactHeader p {
  font-size: 1.5vmax;
  margin: 0 0 1rem;
}
@media (max-width: 1280px) {
  .contact .contactHeader p {
    font-size: 1.8vmax;
  }
}
@media (max-width: 900px) {
  .contact .contactHeader p {
    font-size: 2.1vmax;
  }
}
@media (max-width: 790px) {
  .contact .contactHeader p {
    font-size: 1.8rem;
  }
}
.contact .contactMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  padding: 0 2rem 2rem;
  position: relative;
}
@media (max-width: 1280px) {
  .contact .contactMain {
    padding: 0 2rem 2rem;
  }
}
.contact .contactMain h3 {
  font-size: 4.5vmax;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .contact .contactMain h3 {
    font-size: 5.5vmax;
  }
}
@media (max-width: 900px) {
  .contact .contactMain h3 {
    font-size: 6vmax;
  }
}
@media (max-width: 790px) {
  .contact .contactMain h3 {
    font-size: 6.3rem;
  }
}
@media (max-width: 500px) {
  .contact .contactMain h3 {
    font-size: 5rem;
  }
}
@media (max-width: 375px) {
  .contact .contactMain h3 {
    font-size: 4.8rem;
  }
}
.contact .contactMain .email {
  font-size: 2.3rem;
  margin: 0 0 2.5rem;
  position: absolute;
  right: -18rem;
  top: calc(100% / 2 - 1.5rem);
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
.contact .contactMain .email a {
  color: black;
  text-decoration: none;
}
.contact .contactMain .formContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}
@media (max-width: 790px) {
  .contact .contactMain .formContainer {
    width: 100%;
  }
}
.contact .contactMain .formContainer .message {
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 2.5rem;
}
.contact .contactMain .formContainer .message p {
  margin: 0;
}
.contact .contactMain .formContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}
@media (max-width: 1280px) {
  .contact .contactMain .formContainer form {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .contact .contactMain .formContainer form {
    width: 80%;
  }
}
@media (max-width: 790px) {
  .contact .contactMain .formContainer form {
    width: 95%;
  }
}
.contact .contactMain .formContainer form input {
  width: 100%;
  height: 4.3rem;
  font-size: 2.2rem;
  margin-bottom: 3rem;
  border: none;
  background: none;
  box-shadow: 0 0 0.7rem 0.4rem black;
  padding: 1rem;
}
.contact .contactMain .formContainer form textarea {
  width: 100%;
  height: 19rem;
  font-size: 2.2rem;
  margin-bottom: 3rem;
  border: none;
  background: none;
  box-shadow: 0 0 0.7rem 0.4rem black;
  padding: 1rem;
}
.contact .contactMain .formContainer form button {
  text-transform: uppercase;
  width: 20rem;
  font-size: 2rem;
  line-height: 5rem;
  border: none;
  box-shadow: 0 0 0.7rem 0.4rem black;
  background: none;
}