html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
html .wrapper {
  width: 95%;
}
html img,
html video {
  width: 100%;
  height: 100%;
}

.navOpener {
  position: absolute;
  right: 2rem;
  top: 12rem;
  z-index: 3;
  font-size: 2.5rem;
  background: #26de81;
  color: white;
  text-align: center;
  width: 14rem;
  line-height: 6rem;
  border-radius: 1rem;
  border: 3px solid white;
  text-transform: uppercase;
  transition: all 0.4s;
  cursor: pointer;
}
.navOpener.navClosed {
  top: 2rem;
  right: 2rem;
}
@media (max-width: 590px) {
  .navOpener.navClosed {
    top: 2rem;
    right: 1rem;
  }
}
.navOpener:hover, .navOpener:focus {
  transform: rotate(35deg);
}
@media (max-width: 1200px) {
  .navOpener {
    width: 12rem;
    line-height: 5rem;
  }
}
@media (max-width: 980px) {
  .navOpener {
    top: 11rem;
  }
}
@media (max-width: 790px) {
  .navOpener {
    top: 9.5rem;
    width: 10.5rem;
    line-height: 4.5rem;
    font-size: 2.2rem;
  }
}
@media (max-width: 590px) {
  .navOpener {
    top: 16rem;
    right: 1rem;
    width: 9.5rem;
    line-height: 4rem;
    font-size: 2rem;
  }
}
@media (max-width: 470px) {
  .navOpener {
    top: 13rem;
    right: 1rem;
    width: 8rem;
    line-height: 3.7rem;
    font-size: 1.7rem;
  }
}
@media (max-width: 375px) {
  .navOpener {
    width: 7rem;
    font-size: 1.6rem;
    line-height: 3.5rem;
  }
}

nav {
  position: fixed;
  z-index: 3;
  right: 0;
  top: -100%;
  width: 100%;
  transform: perspective(500px) rotateY(-90deg);
  transform-origin: 100% 0;
  transition: all 0.4s;
}
nav.navOpened {
  transform: rotateY(0);
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
nav ul li {
  background: #26de81;
  color: white;
  border: 1.5px solid white;
  font-size: 2.5rem;
  line-height: 10rem;
  width: calc(100% / 7);
  cursor: pointer;
}
@media (max-width: 980px) {
  nav ul li {
    font-size: 2rem;
    line-height: 9rem;
  }
}
@media (max-width: 790px) {
  nav ul li {
    font-size: 1.8rem;
    line-height: 7.5rem;
  }
}
@media (max-width: 590px) {
  nav ul li {
    width: calc(100% / 4);
  }
}
@media (max-width: 470px) {
  nav ul li {
    line-height: 5.5rem;
  }
}
nav ul li:nth-child(1) {
  background: #ff9ff3;
}
nav ul li:nth-child(2) {
  background: #feca57;
}
nav ul li:nth-child(3) {
  background: #ff6b6b;
}
nav ul li:nth-child(4) {
  background: #48dbfb;
}
nav ul li:nth-child(5) {
  background: #9980FA;
}
nav ul li:nth-child(6) {
  background: #ff9f43;
}
nav ul li:nth-child(7) {
  background: #10ac84;
}
nav ul li:hover, nav ul li:focus {
  transition: all 0.3s;
  transform: scale(1.2);
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  background-image: url(../assets/headerBackground.gif);
  background-size: 100% 115%;
  background-position: 0 15%;
}
@media (max-width: 1088px) {
  header {
    background-size: 117.5% 115%;
    background-position: 40% 15%;
  }
}
@media (max-width: 790px) {
  header {
    background-size: 140% 130%;
    background-position: 45% 30%;
  }
}
@media (max-width: 470px) {
  header {
    background-size: 190% 125%;
    background-position: 50% 25%;
  }
}
header .headerFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .headerFlexContainer h1 {
  position: relative;
  font-size: 10vmax;
  color: #26de81;
  margin: 0 0 16rem 0;
}
header .welcomeDoor {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
}
header .welcomeDoor.doorOpened {
  background: none;
}
header .welcomeDoor.doorOpened .leftDoor {
  transform: rotateY(90deg);
}
header .welcomeDoor.doorOpened .rightDoor {
  transform: rotateY(-90deg);
}
header .welcomeDoor .leftDoor,
header .welcomeDoor .rightDoor {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #b6dcfe;
  transition: all 1s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  border: 15px solid #4788c7;
}
header .welcomeDoor .leftDoor .decoration,
header .welcomeDoor .rightDoor .decoration {
  width: 34%;
  height: 38%;
  background: white;
  background: #dff0fe;
}
header .welcomeDoor .leftDoor .knob,
header .welcomeDoor .rightDoor .knob {
  width: 3vmax;
  height: 3vmax;
  background: #4788c7;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 1.5vmax);
}
header .welcomeDoor .leftDoor {
  left: 0;
  transform-origin: 0;
  transform: perspective(500px) rotateY(0);
}
header .welcomeDoor .leftDoor .knob {
  right: 1vmax;
}
header .welcomeDoor .rightDoor {
  right: 0;
  transform-origin: 100%;
  transform: perspective(500px) rotateY(0);
}
header .welcomeDoor .rightDoor .knob {
  left: 1vmax;
}

.firstProject,
.secondProject,
.thirdProject,
.fourthProject {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: white;
}
.firstProject.selectedProject,
.secondProject.selectedProject,
.thirdProject.selectedProject,
.fourthProject.selectedProject {
  z-index: 2;
}
@media (max-width: 1200px) {
  .firstProject,
.secondProject,
.thirdProject,
.fourthProject {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.firstProject .projectVideo,
.secondProject .projectVideo,
.thirdProject .projectVideo,
.fourthProject .projectVideo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37vmax;
  width: 48vmax;
  border-radius: 1rem;
  transition: all 0.6s;
  background: black;
  box-shadow: 0 0 1vmax 0.1vmax #606166 inset, 0 0 0.1vmax 0.8vmax #606166;
  transform: translateY(110vh);
}
@media (max-width: 1200px) {
  .firstProject .projectVideo,
.secondProject .projectVideo,
.thirdProject .projectVideo,
.fourthProject .projectVideo {
    width: 42vmax;
    height: 32vmax;
    transform: translateX(-110vh);
  }
}
@media (max-width: 980px) {
  .firstProject .projectVideo,
.secondProject .projectVideo,
.thirdProject .projectVideo,
.fourthProject .projectVideo {
    width: 50vmax;
    height: 39vmax;
  }
}
@media (max-width: 590px) {
  .firstProject .projectVideo,
.secondProject .projectVideo,
.thirdProject .projectVideo,
.fourthProject .projectVideo {
    width: 85%;
    height: 42vmax;
  }
}
.firstProject .projectVideo .videoContainer,
.secondProject .projectVideo .videoContainer,
.thirdProject .projectVideo .videoContainer,
.fourthProject .projectVideo .videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83%;
}
.firstProject .projectVideo .videoContainer .video,
.secondProject .projectVideo .videoContainer .video,
.thirdProject .projectVideo .videoContainer .video,
.fourthProject .projectVideo .videoContainer .video {
  width: 100%;
  height: 92%;
}
.firstProject .projectVideo .frame,
.secondProject .projectVideo .frame,
.thirdProject .projectVideo .frame,
.fourthProject .projectVideo .frame {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17%;
  background: #606166;
  border-radius: 0 0 1rem 1rem;
}
.firstProject .projectVideo .frame .playButton,
.secondProject .projectVideo .frame .playButton,
.thirdProject .projectVideo .frame .playButton,
.fourthProject .projectVideo .frame .playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 70%;
  background: none;
  box-shadow: inset 0px 0px 0.4vmax 0.2vmax #000;
  cursor: pointer;
}
.firstProject .projectVideo .frame .playButton img,
.secondProject .projectVideo .frame .playButton img,
.thirdProject .projectVideo .frame .playButton img,
.fourthProject .projectVideo .frame .playButton img {
  width: 4.5vmax;
  height: 3.4vmax;
}
.firstProject .projectVideo .frame .appleLogo,
.secondProject .projectVideo .frame .appleLogo,
.thirdProject .projectVideo .frame .appleLogo,
.fourthProject .projectVideo .frame .appleLogo {
  width: 4.5vmax;
  height: 3.4vmax;
}
.firstProject .projectVideo .frame .githubLink,
.secondProject .projectVideo .frame .githubLink,
.thirdProject .projectVideo .frame .githubLink,
.fourthProject .projectVideo .frame .githubLink {
  width: 25%;
  height: 70%;
  background: none;
  box-shadow: inset 0px 0px 0.4vmax 0.2vmax #000;
}
.firstProject .projectVideo .frame .githubLink a,
.secondProject .projectVideo .frame .githubLink a,
.thirdProject .projectVideo .frame .githubLink a,
.fourthProject .projectVideo .frame .githubLink a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}
.firstProject .projectVideo .frame .githubLink a img,
.secondProject .projectVideo .frame .githubLink a img,
.thirdProject .projectVideo .frame .githubLink a img,
.fourthProject .projectVideo .frame .githubLink a img {
  width: 4.5vmax;
  height: 3.4vmax;
}
.firstProject .projectVideo.selected,
.secondProject .projectVideo.selected,
.thirdProject .projectVideo.selected,
.fourthProject .projectVideo.selected {
  transform: translateY(0);
}
@media (max-width: 1200px) {
  .firstProject .projectVideo.selected,
.secondProject .projectVideo.selected,
.thirdProject .projectVideo.selected,
.fourthProject .projectVideo.selected {
    transform: translateX(0);
  }
}
.firstProject .projectVideo.notSelected,
.secondProject .projectVideo.notSelected,
.thirdProject .projectVideo.notSelected,
.fourthProject .projectVideo.notSelected {
  transform: translateY(-100vh);
}
@media (max-width: 1200px) {
  .firstProject .projectVideo.notSelected,
.secondProject .projectVideo.notSelected,
.thirdProject .projectVideo.notSelected,
.fourthProject .projectVideo.notSelected {
    transform: translateX(100vh);
  }
}
.firstProject .description,
.secondProject .description,
.thirdProject .description,
.fourthProject .description {
  width: 33vmax;
  height: 38vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.6s;
  padding: 2vmax;
  border-radius: 1rem;
  transform: translateY(-110vh);
}
.firstProject .description.selected,
.secondProject .description.selected,
.thirdProject .description.selected,
.fourthProject .description.selected {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 1200px) {
  .firstProject .description.selected,
.secondProject .description.selected,
.thirdProject .description.selected,
.fourthProject .description.selected {
    transform: translateX(0);
  }
}
.firstProject .description.notSelected,
.secondProject .description.notSelected,
.thirdProject .description.notSelected,
.fourthProject .description.notSelected {
  transform: translateY(100vh);
  opacity: 0;
}
@media (max-width: 1200px) {
  .firstProject .description.notSelected,
.secondProject .description.notSelected,
.thirdProject .description.notSelected,
.fourthProject .description.notSelected {
    transform: translateX(-100vh);
  }
}
@media (max-width: 1200px) {
  .firstProject .description,
.secondProject .description,
.thirdProject .description,
.fourthProject .description {
    transform: translateX(110vh);
    width: 70vmax;
    height: 25vmax;
    overflow: auto;
  }
}
@media (max-width: 980px) {
  .firstProject .description,
.secondProject .description,
.thirdProject .description,
.fourthProject .description {
    height: 30vmax;
    width: 65vmax;
  }
}
@media (max-width: 590px) {
  .firstProject .description,
.secondProject .description,
.thirdProject .description,
.fourthProject .description {
    width: 86%;
    height: 35vmax;
  }
}
@media (max-height: 736px) and (max-width: 414px) {
  .firstProject .description,
.secondProject .description,
.thirdProject .description,
.fourthProject .description {
    height: 45vmax;
  }
}
.firstProject .description h3,
.secondProject .description h3,
.thirdProject .description h3,
.fourthProject .description h3 {
  font-size: 2.8vmax;
  margin: 0 0 1vmax 0;
}
@media (max-width: 1200px) {
  .firstProject .description h3,
.secondProject .description h3,
.thirdProject .description h3,
.fourthProject .description h3 {
    font-size: 4.2vmax;
  }
}
@media (max-width: 470px) {
  .firstProject .description h3,
.secondProject .description h3,
.thirdProject .description h3,
.fourthProject .description h3 {
    font-size: 3.8vmax;
  }
}
.firstProject .description .aboutProject,
.secondProject .description .aboutProject,
.thirdProject .description .aboutProject,
.fourthProject .description .aboutProject {
  font-size: 1.18vmax;
  line-height: 1.9vmax;
}
@media (max-width: 1200px) {
  .firstProject .description .aboutProject,
.secondProject .description .aboutProject,
.thirdProject .description .aboutProject,
.fourthProject .description .aboutProject {
    width: 85%;
    font-size: 1.5vmax;
    line-height: 2.3vmax;
    margin: 0 0 2.8vmax;
  }
}
@media (max-width: 980px) {
  .firstProject .description .aboutProject,
.secondProject .description .aboutProject,
.thirdProject .description .aboutProject,
.fourthProject .description .aboutProject {
    margin: 0 0 2.3vmax;
    font-size: 1.7vmax;
    line-height: 2.6vmax;
  }
}
@media (max-width: 590px) {
  .firstProject .description .aboutProject,
.secondProject .description .aboutProject,
.thirdProject .description .aboutProject,
.fourthProject .description .aboutProject {
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin: 1vmax 0 3vmax;
  }
}
@media (max-width: 470px) {
  .firstProject .description .aboutProject,
.secondProject .description .aboutProject,
.thirdProject .description .aboutProject,
.fourthProject .description .aboutProject {
    font-size: 1.4rem;
    width: 90%;
  }
}
.firstProject .description .skill,
.secondProject .description .skill,
.thirdProject .description .skill,
.fourthProject .description .skill {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0 0 3rem;
}
@media (max-width: 1200px) {
  .firstProject .description .skill,
.secondProject .description .skill,
.thirdProject .description .skill,
.fourthProject .description .skill {
    order: 2;
    justify-content: space-evenly;
  }
}
.firstProject .description .skill li,
.secondProject .description .skill li,
.thirdProject .description .skill li,
.fourthProject .description .skill li {
  width: 5vmax;
  height: 5vmax;
}
@media (max-width: 1200px) {
  .firstProject .description .skill li,
.secondProject .description .skill li,
.thirdProject .description .skill li,
.fourthProject .description .skill li {
    width: 7.5vmax;
    height: 7.5vmax;
  }
}
@media (max-width: 980px) {
  .firstProject .description .skill li,
.secondProject .description .skill li,
.thirdProject .description .skill li,
.fourthProject .description .skill li {
    width: 8.5vmax;
    height: 8.5vmax;
  }
}
@media (max-width: 590px) {
  .firstProject .description .skill li,
.secondProject .description .skill li,
.thirdProject .description .skill li,
.fourthProject .description .skill li {
    width: 9.5vmax;
    height: 9.5vmax;
  }
}
.firstProject .description .liveLink,
.secondProject .description .liveLink,
.thirdProject .description .liveLink,
.fourthProject .description .liveLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 11.5vmax;
  font-size: 1.55vmax;
  line-height: 3.1vmax;
}
.firstProject .description .liveLink a,
.secondProject .description .liveLink a,
.thirdProject .description .liveLink a,
.fourthProject .description .liveLink a {
  text-decoration: none;
  width: 100%;
}
@media (max-width: 1200px) {
  .firstProject .description .liveLink,
.secondProject .description .liveLink,
.thirdProject .description .liveLink,
.fourthProject .description .liveLink {
    font-size: 2vmax;
    width: 20vmax;
    line-height: 3.8vmax;
    margin: 0 0 2.9vmax;
    order: 1;
  }
}
@media (max-width: 980px) {
  .firstProject .description .liveLink,
.secondProject .description .liveLink,
.thirdProject .description .liveLink,
.fourthProject .description .liveLink {
    font-size: 1.9vmax;
    width: 17.5vmax;
    line-height: 4vmax;
  }
}
@media (max-width: 590px) {
  .firstProject .description .liveLink,
.secondProject .description .liveLink,
.thirdProject .description .liveLink,
.fourthProject .description .liveLink {
    line-height: 4rem;
    margin: 1.5vmax 0 3.5vmax;
  }
}
.firstProject .description .descriptionImages,
.secondProject .description .descriptionImages,
.thirdProject .description .descriptionImages,
.fourthProject .description .descriptionImages {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1200px) {
  .firstProject .description .descriptionImages,
.secondProject .description .descriptionImages,
.thirdProject .description .descriptionImages,
.fourthProject .description .descriptionImages {
    order: 2;
    justify-content: space-evenly;
  }
}
.firstProject .description .descriptionImages div,
.secondProject .description .descriptionImages div,
.thirdProject .description .descriptionImages div,
.fourthProject .description .descriptionImages div {
  width: 9vmax;
  height: 9vmax;
}
@media (max-width: 1200px) {
  .firstProject .description .descriptionImages div,
.secondProject .description .descriptionImages div,
.thirdProject .description .descriptionImages div,
.fourthProject .description .descriptionImages div {
    width: 12vmax;
    height: 12vmax;
    margin-bottom: 3rem;
  }
}
@media (max-width: 590px) {
  .firstProject .description .descriptionImages div,
.secondProject .description .descriptionImages div,
.thirdProject .description .descriptionImages div,
.fourthProject .description .descriptionImages div {
    width: 14vmax;
    height: 14vmax;
  }
}

.firstProject .description {
  background: #fadbd9;
  color: blue;
  border: 5px solid blue;
  box-shadow: 0 0 1vmax 0vmax blue inset, 0 0 0.1vmax 0.4vmax blue;
}
.firstProject .description .liveLink {
  background: white;
  border-radius: 2rem;
  color: black;
  box-shadow: 5px 5px blue;
  position: relative;
  border: none;
}
.firstProject .description .liveLink a {
  color: black;
}
.firstProject .description .liveLink:hover, .firstProject .description .liveLink:focus {
  box-shadow: 2.5px 2.5px blue;
  top: 2.5px;
  left: 2.5px;
}

.secondProject .description {
  background: linear-gradient(to right, #0072ff, #00c6ff);
  color: white;
  box-shadow: 0 0 1vmax 0vmax blue inset, 0 0 0.1vmax 0.4vmax blue;
}
.secondProject .description .liveLink {
  background: linear-gradient(319deg, #6FB1FC, #4364F7, #0052D4);
  border-radius: 1rem;
}
.secondProject .description .liveLink a {
  color: white;
}

.thirdProject .description {
  background: #e3f4f3;
  color: black;
}
.thirdProject .description .liveLink {
  background: white;
  transition: all 0.4s;
  border-radius: 1.2rem;
  color: black;
  border: 2px solid black;
  box-shadow: 0 0 1vmax 0vmax blue inset, 0 0 0.1vmax 0.4vmax blue;
}
.thirdProject .description .liveLink:hover {
  background: #6056f9;
  color: white;
}

.about {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  background: #fce8ad;
}
.about .me {
  height: 26rem;
  width: 40rem;
  margin: 6rem auto;
  transition: all 1s;
  position: relative;
  top: -100%;
}
@media (max-width: 1088px) {
  .about .me {
    width: 32rem;
    height: 20rem;
    margin: 2.5rem auto;
  }
}
@media (max-width: 790px) {
  .about .me {
    width: 27rem;
    height: 18rem;
  }
}
@media (max-width: 590px) {
  .about .me {
    width: 23rem;
    height: 15rem;
  }
}
@media (max-width: 470px) {
  .about .me {
    margin: 1rem auto;
  }
}
@media (max-height: 736px) and (max-width: 414px) {
  .about .me {
    width: 20rem;
    height: 10rem;
  }
}
.about .me img {
  border-radius: 1rem;
}
.about .me.imageShown {
  top: 0;
}
.about .aboutContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
}
@media (max-width: 1088px) {
  .about .aboutContainer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    margin-bottom: 2%;
  }
}
@media (max-width: 590px) {
  .about .aboutContainer {
    height: 80%;
    margin-bottom: 3.5%;
  }
}
.about .aboutContainer.aboutContainerShown .skillList, .about .aboutContainer.aboutContainerShown .description {
  transform: rotateX(0);
}
.about .aboutContainer .skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 45%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  transition: all 1s;
  transform-origin: 100% 100%;
  transform: perspective(500px) rotateX(90deg);
  -webkit-transform: perspective(500px) rotateX(90deg);
  -moz-transform: perspective(500px) rotateX(90deg);
}
@media (max-width: 1088px) {
  .about .aboutContainer .skillList {
    order: 1;
    width: 80%;
    height: 45%;
  }
}
@media (max-width: 790px) {
  .about .aboutContainer .skillList {
    width: 90%;
  }
}
@media (max-width: 590px) {
  .about .aboutContainer .skillList {
    margin-bottom: 3%;
  }
}
.about .aboutContainer .skillList li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  width: 20%;
  transition: all 1s;
}
.about .aboutContainer .skillList li img {
  width: 6vmax;
  height: 6vmax;
  margin-bottom: 1vmax;
}
.about .aboutContainer .skillList li span {
  font-size: 1.6rem;
}
@media (max-width: 1088px) {
  .about .aboutContainer .skillList li span {
    font-size: 1.6rem;
  }
}
@media (max-width: 790px) {
  .about .aboutContainer .skillList li span {
    font-size: 1.4rem;
  }
}
@media (max-width: 590px) {
  .about .aboutContainer .skillList li span {
    font-size: 1.3rem;
  }
}
.about .aboutContainer .description {
  width: 40%;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.5rem;
  transition: all 1s;
  transform-origin: 100% 100%;
  transform: perspective(500px) rotateX(90deg);
  -webkit-transform: perspective(500px) rotateX(90deg);
  -moz-transform: perspective(500px) rotateX(90deg);
}
@media (max-width: 1088px) {
  .about .aboutContainer .description {
    width: 80%;
    margin-bottom: 3%;
  }
}
@media (max-width: 790px) {
  .about .aboutContainer .description {
    width: 90%;
    line-height: 2.4rem;
    font-size: 1.45rem;
  }
  .about .aboutContainer .description p {
    margin: 1rem 0;
  }
}
@media (max-height: 736px) and (max-width: 414px) {
  .about .aboutContainer .description {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 0 2rem;
  }
}
.about .aboutContainer .description p:first-child {
  margin-top: 0;
}
.about .aboutContainer .description span {
  color: blue;
}
.about .aboutContainer .description.descriptionShown {
  opacity: 1;
}
.about .aboutContainer .description .resumeContactButton {
  display: flex;
  justify-content: space-around;
}
.about .aboutContainer .description .resumeContactButton span {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  border-radius: 1rem;
  width: 18rem;
  line-height: 4.5rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 0;
  font-weight: 400;
  cursor: pointer;
}
@media (max-width: 1088px) {
  .about .aboutContainer .description .resumeContactButton span {
    font-size: 2rem;
    line-height: 4rem;
    width: 17rem;
    margin-top: 1rem;
  }
}
@media (max-width: 980px) {
  .about .aboutContainer .description .resumeContactButton span {
    width: 15rem;
  }
}
@media (max-width: 790px) {
  .about .aboutContainer .description .resumeContactButton span {
    margin: 1.5rem 0 1rem;
  }
}
@media (max-width: 590px) {
  .about .aboutContainer .description .resumeContactButton span {
    font-size: 1.5rem;
    width: 12rem;
    line-height: 3.5rem;
  }
}
@media (max-height: 736px) and (max-width: 414px) {
  .about .aboutContainer .description .resumeContactButton span {
    font-size: 1.4rem;
  }
}

.contact {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fce8ad;
}
.contact .contactFlexContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 0;
  height: 0;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  border-radius: 1rem;
  transition: all 1s;
  transform: rotateX(120deg);
}
@media (max-width: 435px) {
  .contact .contactFlexContainer {
    transform: rotateY(120deg);
  }
}
.contact .contactFlexContainer.contactShown {
  width: 80%;
  height: 65%;
  transform: rotateX(0);
}
@media (max-width: 790px) {
  .contact .contactFlexContainer.contactShown {
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    padding-bottom: 5%;
  }
}
@media (max-width: 590px) {
  .contact .contactFlexContainer.contactShown {
    width: 90%;
  }
}
@media (max-width: 435px) {
  .contact .contactFlexContainer.contactShown {
    height: 90%;
    transform: rotateY(0);
  }
}
.contact .contactFlexContainer .emailImage {
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: -13.5rem;
  left: -10rem;
}
@media (max-width: 790px) {
  .contact .contactFlexContainer .emailImage {
    top: -9rem;
    left: -7rem;
    width: 27rem;
    height: 27rem;
  }
}
@media (max-width: 590px) {
  .contact .contactFlexContainer .emailImage {
    width: 20.5rem;
    height: 20.5rem;
    left: -3rem;
  }
}
@media (max-width: 435px) {
  .contact .contactFlexContainer .emailImage {
    width: 12rem;
    height: 12rem;
    top: -5rem;
  }
}
@media (max-width: 375px) {
  .contact .contactFlexContainer .emailImage {
    width: 9rem;
    height: 9rem;
    top: -4.5rem;
    left: -2rem;
  }
}
.contact .contactFlexContainer .contactText {
  width: 50%;
  font-size: 2.5rem;
  line-height: 3.7rem;
  padding: 0 5%;
  color: white;
}
@media (max-width: 1200px) {
  .contact .contactFlexContainer .contactText {
    font-size: 2.3rem;
    line-height: 3.1rem;
    width: 45%;
  }
}
@media (max-width: 790px) {
  .contact .contactFlexContainer .contactText {
    align-self: flex-end;
    width: 55%;
    font-size: 1.9rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 590px) {
  .contact .contactFlexContainer .contactText {
    width: 60%;
  }
}
@media (max-width: 435px) {
  .contact .contactFlexContainer .contactText {
    width: 90%;
  }
}
.contact .contactFlexContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-right: 5%;
}
@media (max-width: 1200px) {
  .contact .contactFlexContainer form {
    width: 55%;
  }
}
@media (max-width: 790px) {
  .contact .contactFlexContainer form {
    width: 85%;
    padding-right: 0;
  }
}
.contact .contactFlexContainer form input {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
}
@media (max-width: 790px) {
  .contact .contactFlexContainer form input {
    margin-bottom: 2.5rem;
  }
}
.contact .contactFlexContainer form textarea {
  width: 100%;
  height: 22rem;
  font-size: 1.7rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
}
@media (max-width: 790px) {
  .contact .contactFlexContainer form textarea {
    height: 15rem;
    margin-bottom: 2.5rem;
  }
}
.contact .contactFlexContainer form button {
  width: 15rem;
  height: 4.5rem;
  border-radius: 1rem;
  background: #26de81;
  border: none;
  font-size: 2.1rem;
  transition: all 0.4s;
  color: white;
  border: 3px solid white;
  cursor: pointer;
}
.contact .contactFlexContainer form button:hover {
  transform: scale(1.2);
}