html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
html .wrapper {
  width: 85%;
  margin: 0 auto;
}
html img,
html video {
  width: 100%;
  height: 100%;
}

.mapOpener {
  position: fixed;
  top: -10vmax;
  right: 0;
  z-index: 3;
  width: 10vmax;
  height: 10vmax;
  transition: all 0.6s;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
.mapOpener.openerShown {
  transform: translateY(10vmax);
}
header {
  height: 100vh;
  width: 100%;
}
header .treasureMap {
  background-image: url(../assets/treasureMap2.jpeg);
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
}
header .treasureMap .card,
header .treasureMap .project {
  background-image: url(../assets/treasureChest.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 7vmax;
  height: 5vmax;
  cursor: pointer;
}
header .treasureMap .card div,
header .treasureMap .project div {
  background: url(../assets/treasureMap.jpeg);
  background-size: 100% 100%;
  width: 12vmax;
  height: 12vmax;
  padding: 1.15vmax 0.9vmax;
  position: absolute;
  top: -12.8vmax;
}
header .treasureMap .card div .textContainer,
header .treasureMap .project div .textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.9vmax;
  text-transform: uppercase;
  color: white;
  background: #683b16;
}
header .treasureMap .aboutCard {
  top: 36%;
  left: 18%;
}
header .treasureMap .contactCard {
  top: 65%;
  left: 34%;
}
header .treasureMap .project1 {
  top: 36%;
  left: 52%;
}
header .treasureMap .project2 {
  top: 38%;
  left: 78%;
}
header .treasureMap .project3 {
  top: 77%;
  left: 72%;
}
header .welcomeDoor {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
header .welcomeDoor.doorOpened .leftDoor {
  transform: rotateY(90deg);
}
header .welcomeDoor.doorOpened .rightDoor {
  transform: rotateY(-90deg);
}
header .welcomeDoor .leftDoor,
header .welcomeDoor .rightDoor {
  position: absolute;
  height: 100%;
  width: 50%;
  transition: all 0.5s;
}
header .welcomeDoor .leftDoor {
  left: 0;
  transform-origin: 0;
  transform: perspective(500px) rotateY(0);
}
header .welcomeDoor .rightDoor {
  right: 0;
  transform-origin: 100%;
  transform: perspective(500px) rotateY(0);
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.9vmax);
  }
  10% {
    transform: translateY(0);
  }
}
.firstProject,
.secondProject,
.thirdProject,
.fourthProject {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: white;
  transform: scale(0);
  transform-origin: 50%;
  transition: all 0.5s;
  background-image: url(../assets/paper.jpg);
  background-size: 100% 100%;
  z-index: 2;
}
.firstProject.selectedProject,
.secondProject.selectedProject,
.thirdProject.selectedProject,
.fourthProject.selectedProject {
  transform: scale(1);
}
.firstProject.selectedProject.enlarged .projectVideo, .firstProject.selectedProject.enlarged .description,
.secondProject.selectedProject.enlarged .projectVideo,
.secondProject.selectedProject.enlarged .description,
.thirdProject.selectedProject.enlarged .projectVideo,
.thirdProject.selectedProject.enlarged .description,
.fourthProject.selectedProject.enlarged .projectVideo,
.fourthProject.selectedProject.enlarged .description {
  transform: scale(1);
}
.firstProject .projectDoor,
.secondProject .projectDoor,
.thirdProject .projectDoor,
.fourthProject .projectDoor {
  width: 100%;
  height: 100%;
  position: absolute;
}
.firstProject .projectDoor.projectDoorOpened .leftProjectDoor,
.secondProject .projectDoor.projectDoorOpened .leftProjectDoor,
.thirdProject .projectDoor.projectDoorOpened .leftProjectDoor,
.fourthProject .projectDoor.projectDoorOpened .leftProjectDoor {
  transform: rotateY(90deg);
}
.firstProject .projectDoor.projectDoorOpened .rightProjectDoor,
.secondProject .projectDoor.projectDoorOpened .rightProjectDoor,
.thirdProject .projectDoor.projectDoorOpened .rightProjectDoor,
.fourthProject .projectDoor.projectDoorOpened .rightProjectDoor {
  transform: rotateY(-90deg);
}
.firstProject .projectDoor .leftProjectDoor,
.secondProject .projectDoor .leftProjectDoor,
.thirdProject .projectDoor .leftProjectDoor,
.fourthProject .projectDoor .leftProjectDoor {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.5s;
  transform-origin: 0;
  transform: perspective(1000px) rotateY(0);
  z-index: 2;
}
.firstProject .projectDoor .rightProjectDoor,
.secondProject .projectDoor .rightProjectDoor,
.thirdProject .projectDoor .rightProjectDoor,
.fourthProject .projectDoor .rightProjectDoor {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.5s;
  transform-origin: 100%;
  transform: perspective(1000px) rotateY(0);
  z-index: 2;
}
.firstProject .contentHeader,
.secondProject .contentHeader,
.thirdProject .contentHeader,
.fourthProject .contentHeader {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}
.firstProject .contentHeader h2,
.secondProject .contentHeader h2,
.thirdProject .contentHeader h2,
.fourthProject .contentHeader h2 {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  font-size: 3.5vmax;
  margin: 0 auto 1rem;
}
.firstProject .contentHeader p,
.secondProject .contentHeader p,
.thirdProject .contentHeader p,
.fourthProject .contentHeader p {
  font-size: 1.5vmax;
  margin: 0 0 1rem;
}
.firstProject .contentMain,
.secondProject .contentMain,
.thirdProject .contentMain,
.fourthProject .contentMain {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  margin-bottom: 5rem;
}
.firstProject .contentMain h3,
.secondProject .contentMain h3,
.thirdProject .contentMain h3,
.fourthProject .contentMain h3 {
  font-size: 4.5vmax;
  text-align: center;
  margin: 0 auto 1.5rem;
  text-transform: uppercase;
}
.firstProject .contentMain .videoDescription,
.secondProject .contentMain .videoDescription,
.thirdProject .contentMain .videoDescription,
.fourthProject .contentMain .videoDescription {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 2rem;
}
.firstProject .contentMain .videoDescription .projectVideo,
.secondProject .contentMain .videoDescription .projectVideo,
.thirdProject .contentMain .videoDescription .projectVideo,
.fourthProject .contentMain .videoDescription .projectVideo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 31.4vmax;
  width: 50vmax;
  transition: all 0.6s;
}
@media (max-width: 1200px) {
  .firstProject .contentMain .videoDescription .projectVideo,
.secondProject .contentMain .videoDescription .projectVideo,
.thirdProject .contentMain .videoDescription .projectVideo,
.fourthProject .contentMain .videoDescription .projectVideo {
    width: 45vmax;
    height: 34vmax;
  }
}
@media (max-width: 980px) {
  .firstProject .contentMain .videoDescription .projectVideo,
.secondProject .contentMain .videoDescription .projectVideo,
.thirdProject .contentMain .videoDescription .projectVideo,
.fourthProject .contentMain .videoDescription .projectVideo {
    width: 57vmax;
    height: 44vmax;
  }
}
@media (max-width: 790px) {
  .firstProject .contentMain .videoDescription .projectVideo,
.secondProject .contentMain .videoDescription .projectVideo,
.thirdProject .contentMain .videoDescription .projectVideo,
.fourthProject .contentMain .videoDescription .projectVideo {
    width: 65vmax;
    height: 50vmax;
  }
}
@media (max-width: 590px) {
  .firstProject .contentMain .videoDescription .projectVideo,
.secondProject .contentMain .videoDescription .projectVideo,
.thirdProject .contentMain .videoDescription .projectVideo,
.fourthProject .contentMain .videoDescription .projectVideo {
    width: 85%;
    height: 47vmax;
  }
}
.firstProject .contentMain .videoDescription .projectVideo .videoContainer,
.secondProject .contentMain .videoDescription .projectVideo .videoContainer,
.thirdProject .contentMain .videoDescription .projectVideo .videoContainer,
.fourthProject .contentMain .videoDescription .projectVideo .videoContainer {
  height: 100%;
  width: 100%;
}
.firstProject .contentMain .videoDescription .description,
.secondProject .contentMain .videoDescription .description,
.thirdProject .contentMain .videoDescription .description,
.fourthProject .contentMain .videoDescription .description {
  width: 30.7vmax;
  height: 31.4vmax;
  display: flex;
  flex-direction: column;
  transition: all 0.6s;
}
.firstProject .contentMain .videoDescription .description p,
.secondProject .contentMain .videoDescription .description p,
.thirdProject .contentMain .videoDescription .description p,
.fourthProject .contentMain .videoDescription .description p {
  margin: 0 0 2rem;
}
.firstProject .contentMain .videoDescription .description .aboutProject,
.secondProject .contentMain .videoDescription .description .aboutProject,
.thirdProject .contentMain .videoDescription .description .aboutProject,
.fourthProject .contentMain .videoDescription .description .aboutProject {
  font-size: 1.18vmax;
  line-height: 1.6vmax;
}
.firstProject .contentMain .videoDescription .description .skill,
.secondProject .contentMain .videoDescription .description .skill,
.thirdProject .contentMain .videoDescription .description .skill,
.fourthProject .contentMain .videoDescription .description .skill {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 1rem 0 3rem;
}
.firstProject .contentMain .videoDescription .description .skill li,
.secondProject .contentMain .videoDescription .description .skill li,
.thirdProject .contentMain .videoDescription .description .skill li,
.fourthProject .contentMain .videoDescription .description .skill li {
  width: 5vmax;
  height: 5vmax;
}
.firstProject .contentMain .videoDescription .description .links,
.secondProject .contentMain .videoDescription .description .links,
.thirdProject .contentMain .videoDescription .description .links,
.fourthProject .contentMain .videoDescription .description .links {
  display: flex;
  justify-content: space-around;
}
.firstProject .contentMain .videoDescription .description .links .githubLink,
.secondProject .contentMain .videoDescription .description .links .githubLink,
.thirdProject .contentMain .videoDescription .description .links .githubLink,
.fourthProject .contentMain .videoDescription .description .links .githubLink {
  width: 25%;
  height: 70%;
  background: none;
  box-shadow: inset 0px 0px 0.4vmax 0.2vmax #000;
}
.firstProject .contentMain .videoDescription .description .links .githubLink a,
.secondProject .contentMain .videoDescription .description .links .githubLink a,
.thirdProject .contentMain .videoDescription .description .links .githubLink a,
.fourthProject .contentMain .videoDescription .description .links .githubLink a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}
.firstProject .contentMain .videoDescription .description .links .githubLink a img,
.secondProject .contentMain .videoDescription .description .links .githubLink a img,
.thirdProject .contentMain .videoDescription .description .links .githubLink a img,
.fourthProject .contentMain .videoDescription .description .links .githubLink a img {
  width: 4.5vmax;
  height: 3.4vmax;
}
.firstProject .contentMain .videoDescription .description .links .liveLink,
.secondProject .contentMain .videoDescription .description .links .liveLink,
.thirdProject .contentMain .videoDescription .description .links .liveLink,
.fourthProject .contentMain .videoDescription .description .links .liveLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 11.5vmax;
  font-size: 1.55vmax;
  line-height: 3.1vmax;
}
.firstProject .contentMain .videoDescription .description .links .liveLink a,
.secondProject .contentMain .videoDescription .description .links .liveLink a,
.thirdProject .contentMain .videoDescription .description .links .liveLink a,
.fourthProject .contentMain .videoDescription .description .links .liveLink a {
  text-decoration: none;
  width: 100%;
}

.firstProject {
  transform-origin: 52% 36%;
}

.secondProject {
  transform-origin: 78% 38%;
}

.thirdProject {
  transform-origin: 72% 77%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100vh;
  background: #fce8ad;
  background-size: 100% 100%;
  transform: scale(0);
  transform-origin: 18% 36%;
  transition: all 0.5s;
}
.about.aboutOpened {
  transform: scale(1);
}
.about .me {
  height: 26rem;
  width: 40rem;
  margin: 6rem auto;
  transition: all 1s;
  position: relative;
  top: -100%;
  opacity: 0;
}
@media (max-width: 1088px) {
  .about .me {
    width: 32rem;
    height: 20rem;
    margin: 2.5rem auto;
  }
}
@media (max-width: 790px) {
  .about .me {
    width: 27rem;
    height: 18rem;
  }
}
@media (max-width: 590px) {
  .about .me {
    width: 23rem;
    height: 15rem;
  }
}
@media (max-width: 470px) {
  .about .me {
    margin: 1rem auto;
  }
}
@media (max-height: 736px) and (max-width: 414px) {
  .about .me {
    width: 20rem;
    height: 10rem;
  }
}
.about .me img {
  border-radius: 1rem;
}
.about .me.imageShown {
  top: 0;
  opacity: 1;
}
.about .aboutContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
}
@media (max-width: 1088px) {
  .about .aboutContainer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    margin-bottom: 2%;
  }
}
@media (max-width: 590px) {
  .about .aboutContainer {
    height: 80%;
    margin-bottom: 3.5%;
  }
}
.about .aboutContainer.aboutContainerShown .skillList, .about .aboutContainer.aboutContainerShown .description {
  transform: rotateX(0);
}
.about .aboutContainer .skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 45%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  transition: all 1s;
  transform-origin: 100% 100%;
  transform: perspective(1000px) rotateX(90deg);
  -webkit-transform: perspective(1000px) rotateX(90deg);
  -moz-transform: perspective(1000px) rotateX(90deg);
}
@media (max-width: 1088px) {
  .about .aboutContainer .skillList {
    order: 1;
    width: 80%;
    height: 45%;
  }
}
@media (max-width: 790px) {
  .about .aboutContainer .skillList {
    width: 90%;
  }
}
@media (max-width: 590px) {
  .about .aboutContainer .skillList {
    margin-bottom: 3%;
  }
}
.about .aboutContainer .skillList li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  width: 20%;
  transition: all 1s;
}
.about .aboutContainer .skillList li img {
  width: 6vmax;
  height: 6vmax;
  margin-bottom: 1vmax;
}
.about .aboutContainer .skillList li span {
  font-size: 1.6rem;
}
@media (max-width: 1088px) {
  .about .aboutContainer .skillList li span {
    font-size: 1.6rem;
  }
}
@media (max-width: 790px) {
  .about .aboutContainer .skillList li span {
    font-size: 1.4rem;
  }
}
@media (max-width: 590px) {
  .about .aboutContainer .skillList li span {
    font-size: 1.3rem;
  }
}
.about .aboutContainer .description {
  width: 40%;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.5rem;
  transition: all 1s;
  transform-origin: 100% 100%;
  transform: perspective(1000px) rotateX(90deg);
  -webkit-transform: perspective(1000px) rotateX(90deg);
  -moz-transform: perspective(1000px) rotateX(90deg);
}
@media (max-width: 1088px) {
  .about .aboutContainer .description {
    width: 80%;
    margin-bottom: 3%;
  }
}
@media (max-width: 790px) {
  .about .aboutContainer .description {
    width: 90%;
    line-height: 2.4rem;
    font-size: 1.45rem;
  }
  .about .aboutContainer .description p {
    margin: 1rem 0;
  }
}
@media (max-height: 736px) and (max-width: 414px) {
  .about .aboutContainer .description {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 0 2rem;
  }
}
.about .aboutContainer .description p:first-child {
  margin-top: 0;
}
.about .aboutContainer .description span {
  color: blue;
}
.about .aboutContainer .description.descriptionShown {
  opacity: 1;
}
.about .aboutContainer .description .resumeContactButton {
  display: flex;
  justify-content: space-around;
}
.about .aboutContainer .description .resumeContactButton span {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  border-radius: 1rem;
  width: 18rem;
  line-height: 4.5rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 0;
  font-weight: 400;
  cursor: pointer;
}
@media (max-width: 1088px) {
  .about .aboutContainer .description .resumeContactButton span {
    font-size: 2rem;
    line-height: 4rem;
    width: 17rem;
    margin-top: 1rem;
  }
}
@media (max-width: 980px) {
  .about .aboutContainer .description .resumeContactButton span {
    width: 15rem;
  }
}
@media (max-width: 790px) {
  .about .aboutContainer .description .resumeContactButton span {
    margin: 1.5rem 0 1rem;
  }
}
@media (max-width: 590px) {
  .about .aboutContainer .description .resumeContactButton span {
    font-size: 1.5rem;
    width: 12rem;
    line-height: 3.5rem;
  }
}
@media (max-height: 736px) and (max-width: 414px) {
  .about .aboutContainer .description .resumeContactButton span {
    font-size: 1.4rem;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-image: url(../assets/treasureMap.jpeg);
  background-size: 100% 100%;
  transform: scale(0);
  transform-origin: 34% 65%;
  transition: all 0.5s;
}
.contact.contactOpened {
  transform: scale(1);
}
.contact .contactFlexContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 0;
  height: 0;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  border-radius: 1rem;
  transition: all 1s;
  transform: rotateX(120deg);
}
@media (max-width: 435px) {
  .contact .contactFlexContainer {
    transform: rotateY(120deg);
  }
}
.contact .contactFlexContainer.contactShown {
  width: 69.5%;
  height: 68%;
  transform: rotateX(0);
}
@media (max-width: 790px) {
  .contact .contactFlexContainer.contactShown {
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    padding-bottom: 5%;
  }
}
@media (max-width: 590px) {
  .contact .contactFlexContainer.contactShown {
    width: 90%;
  }
}
@media (max-width: 435px) {
  .contact .contactFlexContainer.contactShown {
    height: 90%;
    transform: rotateY(0);
  }
}
.contact .contactFlexContainer .emailImage {
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: -13.5rem;
  left: -10rem;
}
@media (max-width: 790px) {
  .contact .contactFlexContainer .emailImage {
    top: -9rem;
    left: -7rem;
    width: 27rem;
    height: 27rem;
  }
}
@media (max-width: 590px) {
  .contact .contactFlexContainer .emailImage {
    width: 20.5rem;
    height: 20.5rem;
    left: -3rem;
  }
}
@media (max-width: 435px) {
  .contact .contactFlexContainer .emailImage {
    width: 12rem;
    height: 12rem;
    top: -5rem;
  }
}
@media (max-width: 375px) {
  .contact .contactFlexContainer .emailImage {
    width: 9rem;
    height: 9rem;
    top: -4.5rem;
    left: -2rem;
  }
}
.contact .contactFlexContainer .contactText {
  width: 50%;
  font-size: 2.5rem;
  line-height: 3.7rem;
  padding: 0 5%;
  color: white;
}
@media (max-width: 1200px) {
  .contact .contactFlexContainer .contactText {
    font-size: 2.3rem;
    line-height: 3.1rem;
    width: 45%;
  }
}
@media (max-width: 790px) {
  .contact .contactFlexContainer .contactText {
    align-self: flex-end;
    width: 55%;
    font-size: 1.9rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 590px) {
  .contact .contactFlexContainer .contactText {
    width: 60%;
  }
}
@media (max-width: 435px) {
  .contact .contactFlexContainer .contactText {
    width: 90%;
  }
}
.contact .contactFlexContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-right: 5%;
}
@media (max-width: 1200px) {
  .contact .contactFlexContainer form {
    width: 55%;
  }
}
@media (max-width: 790px) {
  .contact .contactFlexContainer form {
    width: 85%;
    padding-right: 0;
  }
}
.contact .contactFlexContainer form input {
  width: 100%;
  height: 4rem;
  font-size: 1.7rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
}
@media (max-width: 790px) {
  .contact .contactFlexContainer form input {
    margin-bottom: 2.5rem;
  }
}
.contact .contactFlexContainer form textarea {
  width: 100%;
  height: 22rem;
  font-size: 1.7rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
}
@media (max-width: 790px) {
  .contact .contactFlexContainer form textarea {
    height: 15rem;
    margin-bottom: 2.5rem;
  }
}
.contact .contactFlexContainer form button {
  width: 15rem;
  height: 4.5rem;
  border-radius: 1rem;
  background: #26de81;
  border: none;
  font-size: 2.1rem;
  transition: all 0.4s;
  color: white;
  border: 3px solid white;
  cursor: pointer;
}
.contact .contactFlexContainer form button:hover {
  transform: scale(1.2);
}